:root {
    --c-text-main: #262626;
    --green-transparent: linear-gradient(to bottom, rgba(0, 193, 106, 0.2) 0%, rgba(250, 250, 250, 0.7) 100%);
    --green-transparent-01: linear-gradient(165deg, rgba(0, 193, 106, 0) 0%, rgba(0, 193, 106, 0.1) 100%);
    --green-blue-45: linear-gradient(185deg, #0EA5E9 20%, #00C16A 80%);

    --c-sky-50: #F0F9FF;
    --c-sky-100: #E0F2FE;
    --c-sky-500: #0EA5E9;
    --c-sky-500-gradient: linear-gradient(165deg, #0EA5E9 20%, #0EA5E9 80%);
    --c-sky-600: #0284C7;
    --c-sky-700: #0369A1;
    --c-sky-800: #075985;
    --c-sky-800-rgba: rgba(7, 89, 133, 1);

    --c-green-50: #EFFDF5;
    --c-green-500: #00C16A;

    --c-neutral-50: #FAFAFA;
    --c-neutral-100: #F5F5F5;
    --c-neutral-300: #D4D4D4;
    --c-neutral-350: #BCBCBC;
    --c-neutral-400: #A3A3A3;

    --c-red: #D31212;

    --animation-time: 500ms;
}

*{outline:none !important;margin:0;padding:0;-webkit-font-smoothing:subpixel-antialiased;word-wrap:break-word;}
html, body {height:100%;width:100%;}
body {margin:0;padding:0;background:var(--c-neutral-50);}
html, body, td, th {font:16px/1.3 Poppins, Arial, sans-serif;color:var(--c-text-main);}

table {border-collapse:collapse;}
table td {padding:5px;}
a {color:var(--c-sky-600);text-decoration:none;transition: background var(--animation-time) ease, color var(--animation-time) ease, border-bottom-color var(--animation-time) ease, box-shadow var(--animation-time) ease;}
a:hover, a:focus {color:var(--c-sky-800);text-decoration:none;}
img {border:none;}
input, select, option, textarea, .form-control, .input-daterange input:first-child {border:1px solid var(--c-neutral-350);border-radius:8px;color:var(--c-text-main);background:#fff;}
input, select, option, .form-control {line-height:20px !important;height:48px !important;padding:9px 10px;}
input:hover, select:hover, option:hover, textarea:hover, .form-control:hover {}
input:focus, select:focus, option:focus, textarea:focus, .form-control:focus {box-shadow:none;}
input:disabled, select:disabled, option:disabled, textarea:disabled, .form-control:disabled {border-color:var(--c-gray-light-2);background:var(--c-gray-light-2);}
select {background: var(--c-white) url('/img/angle-down.svg') no-repeat right 5px top 50% !important;}
textarea {resize:vertical;}
textarea.form-control {height:auto!important;}

input[type=checkbox], input[type=radio] {border-radius:0;border:none;position:absolute;left:-9999px;}
input[type=checkbox]+label:before, input[type=radio]+label:before {cursor:pointer;display:inline-block;content:"";text-indent:-2px;line-height:24px!important;font-size:24px!important;background:#fff;width:24px;height:24px;border:none;border-radius:4px;position:relative;top:2px;margin-right:3px;box-shadow:0 0 0 1px var(--c-fon);}
input[type=checkbox]+label:hover:before, input[type=radio]+label:hover:before {}
input[type=checkbox]:checked+label:before, input[type=radio]:checked+label:before {background:var(--c-main) url('/img/icons/charm-tick.svg') no-repeat 50% 50%;box-shadow: none}
input[type=radio]+label:before {border-radius:20px;content:"";}
input[type=radio]:checked+label:before {background:var(--c-white);border-width:5px;}
input[type=checkbox]:disabled+label:before, input[type=radio]:disabled+label:before {background:var(--c-gray-light-2);border-color:var(--c-gray-light-2);color:var(--c-gray-light-2);}
input[type=checkbox]:checked:disabled+label:before {background:var(--c-gray-light-2);color:var(--c-gray-light);}
input[type=radio]:checked:disabled+label:before {background:var(--c-gray-light);}

::placeholder {color:var(--c-neutral-350)!important;}

input::-ms-clear {display: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
/* Firefox */
input[type=number] {-moz-appearance: textfield;}

.input-group-text {background: #fff;border:none;border-radius:12px;padding:14px 0 14px 15px;}
.form-label {font-size:14px;font-weight:600;}
.form-label .required {color:var(--c-red);}
.input-group {background:#fff;border-radius:12px;}

.form-group.error ::placeholder {color: red!important;}
.form-group.error input, .form-group.error textarea {color: red!important;}

h1, h2.h1, .h1 {font:52px/1.2 Poppins, Arial, sans-serif;font-weight:700;margin:0 0 20px 0;padding:0;}
h2, h1.h2, .h2 {font:36px/1.2 Poppins, Arial, sans-serif;font-weight:600;margin:0;padding:0;}
h3, .h3 {font:24px/1.2 Poppins, Arial, sans-serif;font-weight:600;margin:0 0 10px 0;padding:0;}
h4 {font:22px/1.2 Poppins, Arial, sans-serif;font-weight:600;margin:0 0 0 0;padding:0;}
h5 {font:20px/1.2 Poppins, Arial, sans-serif;font-weight:600;margin:0 0 0 0;padding:0;}
h6 {font:18px/1.2 Poppins, Arial, sans-serif;font-weight:600;margin:0 0 0 0;padding:0;}

@media (max-width:1500px) {
}
@media (max-width:1400px) {
    h1, h2.h1, .h1 {font-size:48px;}
    h3, .h3 {font-size:22px;}
}
@media (max-width:1200px) {
    html, body, td, th {font-size: 15px;}
    h1, h2.h1, .h1 {font-size:40px;}
    h2, h1.h2, .h2 {font-size:30px;}
    h3, .h3 {font-size:20px;}
}
@media (max-width:991px) {
    h1, h2.h1, .h1 {font-size:36px;}
    h2, h1.h2, .h2 {font-size:26px;}
    h3, .h3 {font-size:19px;}
}
@media (max-width:767px) {
    html, body, td, th {font-size: 14px;}
    h1, h2.h1, .h1 {font-size:32px;}
    h2, h1.h2, .h2 {font-size:24px;}
    h3, .h3 {font-size:18px;}
}
@media (max-width:575px) {
    h1, h2.h1, .h1 {font-size:28px;}
    h2, h1.h2, .h2 {font-size:22px;}
    h3, .h3 {font-size:17px;}
}

label {font-weight: normal;color:var(--c-gray);}
ul, li {margin:0;padding:0;}
ul {margin:0 0 20px;}
ul li {padding:0 0 0 20px;list-style: none;position: relative}
ul li:before {display:inline-block;content:"";color:#fff;position:absolute;top:7px;left:8px;width:4px;height:4px;background:var(--c-sky-600);border-radius:10px;}

img {max-width: 100%;}

blockquote {border-left:5px solid var(--c-sky-600);padding:10px 20px;}

.wrapper-main {height:100%;display:flex;flex-direction:column;}

main {flex: 1;position:relative;z-index:2;padding-bottom: 100px; }
footer {position:relative;}

.icon-go {line-height:0;vertical-align:middle;}

.w-100 {width:100%;}
.h-100 {height:100%;}
.fixed {max-width:1440px;margin:0 auto;padding:0 40px;}
.z-index-10 {z-index:10;position:relative;}
.scale-15 {transform: scale(1.5)}

.cursor-pointer {cursor:pointer;}

.max-w-1140 {max-width: 1140px;margin:0 auto;}

.row-small-padding, .row-small-padding .row {
    margin: 0 -5px;
}

.row-small-padding .col-xs-1, .row-small-padding .col-md-1, .row-small-padding .col-1, .row-small-padding .col-lg-1,
.row-small-padding .col-xs-2, .row-small-padding .col-md-2, .row-small-padding .col-2, .row-small-padding .col-lg-2,
.row-small-padding .col-xs-3, .row-small-padding .col-md-3, .row-small-padding .col-3, .row-small-padding .col-lg-3,
.row-small-padding .col-xs-4, .row-small-padding .col-md-4, .row-small-padding .col-4, .row-small-padding .col-lg-4,
.row-small-padding .col-xs-5, .row-small-padding .col-md-5, .row-small-padding .col-5, .row-small-padding .col-lg-5,
.row-small-padding .col-xs-6, .row-small-padding .col-md-6, .row-small-padding .col-6, .row-small-padding .col-lg-6,
.row-small-padding .col-xs-7, .row-small-padding .col-md-7, .row-small-padding .col-7, .row-small-padding .col-lg-7,
.row-small-padding .col-xs-8, .row-small-padding .col-md-8, .row-small-padding .col-8, .row-small-padding .col-lg-8,
.row-small-padding .col-xs-9, .row-small-padding .col-md-9, .row-small-padding .col-9, .row-small-padding .col-lg-9,
.row-small-padding .col-xs-10, .row-small-padding .col-md-10, .row-small-padding .col-10, .row-small-padding .col-lg-10,
.row-small-padding .col-xs-11, .row-small-padding .col-md-11, .row-small-padding .col-11, .row-small-padding .col-lg-11,
.row-small-padding .col-xs-12, .row-small-padding .col-md-12, .row-small-padding .col-12, .row-small-padding .col-lg-12,
.row-small-padding .col-xl-1, .row-small-padding .col-sm-1,
.row-small-padding .col-xl-2, .row-small-padding .col-sm-2,
.row-small-padding .col-xl-3, .row-small-padding .col-sm-3,
.row-small-padding .col-xl-4, .row-small-padding .col-sm-4,
.row-small-padding .col-xl-5, .row-small-padding .col-sm-5,
.row-small-padding .col-xl-6, .row-small-padding .col-sm-6,
.row-small-padding .col-xl-7, .row-small-padding .col-sm-7,
.row-small-padding .col-xl-8, .row-small-padding .col-sm-8,
.row-small-padding .col-xl-9, .row-small-padding .col-sm-9,
.row-small-padding .col-xl-10, .row-small-padding .col-sm-10,
.row-small-padding .col-xl-11, .row-small-padding .col-sm-11,
.row-small-padding .col-xl-12, .row-small-padding .col-sm-12, .row-small-padding .col {
    padding-right: 5px;
    padding-left: 5px;
}

.row-middle-padding, .row-middle-padding .row {
    margin: 0 -10px;
}

.row-middle-padding .col-xs-1, .row-middle-padding .col-md-1,
.row-middle-padding .col-xs-2, .row-middle-padding .col-md-2,
.row-middle-padding .col-xs-3, .row-middle-padding .col-md-3,
.row-middle-padding .col-xs-4, .row-middle-padding .col-md-4,
.row-middle-padding .col-xs-5, .row-middle-padding .col-md-5,
.row-middle-padding .col-xs-6, .row-middle-padding .col-md-6,
.row-middle-padding .col-xs-7, .row-middle-padding .col-md-7,
.row-middle-padding .col-xs-8, .row-middle-padding .col-md-8,
.row-middle-padding .col-xs-9, .row-middle-padding .col-md-9,
.row-middle-padding .col-xs-10, .row-middle-padding .col-md-10,
.row-middle-padding .col-xs-11, .row-middle-padding .col-md-11,
.row-middle-padding .col-xs-12, .row-middle-padding .col-md-12, .row-middle-padding .col {
    padding-right: 10px;
    padding-left: 10px;
}

.btn {border-radius:8px;padding:12px 24px;}
.btn-primary {background:var(--green-blue-45);box-shadow: -8px 9px 19px 0 rgba(0, 0, 0, 0.16);border:none;}
.btn-primary:hover {background:var(--c-sky-500-gradient);box-shadow: -2px 2px 9px 0 rgba(0, 0, 0, 0.16);}
.btn-outline-secondary {background:none;border:1px solid var(--c-sky-600);color:var(--c-sky-600);}
.btn-outline-secondary:hover {background:var(--c-sky-100);border-color:var(--c-sky-800);color:var(--c-sky-800);}
.btn-white {background:#fff;border:none;}
.btn-white:hover {background:var(--c-sky-100);border:none;}

.c-filter-sky-800 {filter: invert(15%) sepia(94%) saturate(2745%) hue-rotate(185deg) brightness(96%) contrast(94%);}
.c-white {color:#fff;}
.c-neutral-400 {color:var(--c-neutral-400);}

.border-radius-16 {border-radius: 16px;}

.tag {
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
}
.tag-special {
    color: var(--c-sky-700);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    padding: 8px 12px;
    border-radius: 16px;
}
.tag-sky {
    border: 1px solid var(--c-sky-500);
    background: var(--c-sky-50);
}
.tag-green {
    border: 1px solid var(--c-green-500);
    background: var(--c-green-50);
}

header {position:fixed;width: 100%;z-index:99;}
header:before {display:block;inset:0;content:'';background: var(--green-transparent);position: absolute;backdrop-filter: blur(5px);}
header > div {position:relative;}
.header-height {min-height:80px;}

.menu-open {display:none;}
.menu-close {display:none;}

.header-menu ul, .header-menu li {margin:0;padding:0;}
.header-menu li {list-style:none;display:inline-block;}
.header-menu li:before {display:none;}
.header-menu ul a {font-size:14px;line-height:1;font-weight:600;color:var(--c-text-main);display:block;padding:5px;margin:0 10px;border-bottom:1px solid rgba(255, 255, 255, 0);}
.header-menu ul a:hover {color:var(--c-sky-800);border-color:var(--c-sky-800); }

.footer-menu, .footer-menu li {margin:0;padding:0;}
.footer-menu li {list-style:none;display:block;}
.footer-menu li:before {display:none;}
.footer-menu a {font-size:16px;color:#fff;display:inline-block;border:none!important;white-space:nowrap;}
.footer-menu a:hover {color:#fff;}

footer {background: var(--green-blue-45);position: relative;z-index: 10}

@media (max-width:1200px) {
    .scale-15 {transform: scale(1.2)}
    .footer-menu a {font-size:14px;}
}
@media (max-width:991px) {
    .scale-15 {transform: scale(1)}

    .header-menu ul a {margin:0 5px;}
    .footer-menu a {font-size:12px;}
    .footer-logo {max-height:38px;}

    .btn {border-radius:8px;padding:8px 12px;}
}
@media (max-width:767px) {
    .fixed {padding:0 20px;}
    .header-menu {display:none;}
    .menu-open {transform: scale(0.7);display: block;}
    .menu-opened {overflow:hidden;position:fixed;}
    .menu-opened .menu-close {display:block;}
    .menu-opened header {display:block;position:absolute;background: #fff;inset:0;}
    .menu-opened header:before {display:none;}
    .menu-opened .header-menu {display:block;text-align:center;position:absolute;z-index:10;background: #fff;inset:0;padding:50px 0 0;}
    .menu-opened .header-menu li {display:block;}
    .menu-opened .header-menu ul a {border:none;display: inline-block;}
    .menu-opened .header-menu .menu-close {position:absolute;top:27px;right:17px;transform: scale(1.5)}
}
@media (max-width:575px) {
    .fixed {padding:0 11px;}
    .footer-menu a {margin:0 5px;}
}

.grecaptcha-badge {z-index: 9;}

.platform {border-radius:16px;border-left: 1px solid var(--c-neutral-300);}

.platform-slider {border-radius:16px;border: 1px solid var(--c-neutral-300);}
.platform-slider .in {position:relative;border-radius:16px;background: var(--c-neutral-100);}
.platform-slider .in:after {position:absolute;height:200px;left:0;right:0;bottom:-235px;background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FAFAFA 100%);content:"";display:block;z-index: 10}
.platform-slider .in img {width:100%;border-radius: 8px;border:1px solid var(--c-neutral-300);box-shadow: -8px 9px 10px 0 rgba(0, 0, 0, 0.12);}
.platform-slider .in .splide {position:relative;margin: -100px 0 -250px;}
.platform-slider li {padding:0;margin:0 15px 15px;}
.platform-slider li:before {display:none;}

@media (max-width:991px) {
    .platform-slider {margin:100px 0 150px;}
    .platform-slider .in:after {height:100px;bottom:-135px;}
    .platform-slider .in .splide {margin: -100px 0 -150px;}
}

@media (max-width:767px) {
    .platform-slider {margin:50px 0 70px;}
    .platform-slider .in:after {height:50px;bottom:-36px;}
    .platform-slider .in .splide {margin: -50px 0 -50px;}
}

.figures {border-radius:16px;background: var(--green-transparent-01);}

.products .it {height:100%;border:1px solid var(--c-neutral-300);border-radius:16px;}
.products .it img {border-radius:8px;box-shadow: -8px 9px 19px 0 rgba(0, 0, 0, 0.12);}

.logos a img {filter: grayscale(100%);transition: filter var(--animation-time) ease}
.logos a:hover img {filter: grayscale(0);}

.solutions {border-radius:24px;background: var(--c-neutral-100);}
.solutions .tag-img {color:var(--c-sky-700);padding:8px 12px;border-radius:100px;font-size:12px;}
.solutions .img {background-position: 50% 50%;background-repeat:no-repeat;background-size:cover;height:120px;border-radius:8px;}
.solutions .img-1 {background-image:url('/img/image-1.png');}
.solutions .img-2 {background-image:url('/img/image-2.png');}
.solutions .img-3 {background-image:url('/img/image-3.png');}
.solutions .img-4 {background-image:url('/img/image-4.png');}
.solutions .img-5 {background-image:url('/img/image-5.png');border-radius:8px 8px 0 0;margin-bottom:-24px;}
@media (max-width:991px) {
    .solutions .img-5 {border-radius:8px;margin-bottom:0;}
}

.features {position:relative;overflow:hidden;}
.features:before {height:200px;position:absolute;display:block;content:"";bottom:0;left:0;right:0;background:linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, var(--c-neutral-50) 100%);z-index: 10}
.features:after {position:relative;display:block;content:"";margin-bottom:-130px;   }
.features .it {height:100%;background:var(--c-neutral-100);border-radius:16px;}

.explore-all-features {background:var(--c-sky-100);border-radius:16px;}

.review-slider {position:relative;}
.review-slider li {padding:0 15px;}
.review-slider li:before {display:none;}
.review-slider .it {border-radius:16px;border:1px solid var(--c-neutral-300);height:100%;}
.review-slider .up {box-shadow: -4px 5px 19px 0 #00000014;border-radius:8px;font-size:12px;}
.review-slider .stars {white-space: nowrap;}
.review-slider .stars i {background: url('/icon/star.svg');background-size:cover;height:22px;width:22px;display: inline-block;margin-left:3px;}
.review-slider .message {line-height: 1.5}
.review-slider .info {width: 60px;text-align: center;}
.review-slider .splide__arrow--prev, .review-slider .splide__arrow--next {border-radius:8px;border:1px solid var(--c-neutral-300);background:none;}
.review-slider:after, .review-slider:before {display:block;content:"";position:absolute;top:0;bottom:0;width:300px;z-index: 10}
.review-slider:after {left:0;background:linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);}
.review-slider:before {right:0;background:linear-gradient(to left, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);}

@media (max-width:1200px) {
    .review-slider:after, .review-slider:before {width:150px;}
}
@media (max-width:991px) {
    .review-slider li {padding:0 10px;}
    .review-slider .stars i {height:20px;width:20px;}
    .review-slider:after, .review-slider:before {width:100px;}
}
@media (max-width:767px) {
    .review-slider li {padding:0;}
    .review-slider .stars i {height:18px;width:18px;}
    .review-slider:after, .review-slider:before {display:none;}
}
@media (max-width:575px) {
    .review-slider .stars i {height:16px;width:16px;margin-left:1px;}
}

.agreement {font-size:12px;}

.anchor {position:relative;top:-100px;}

.publications .it {border-radius: 12px;border:1px solid var(--c-neutral-300);padding:15px;height:100%;}
.publications .it img {border-radius: 8px;width: 100%;}

.page-label {background:var(--c-green-50);border-radius:100px;border:1px solid var(--c-sky-600);color:var(--c-sky-600);font-weight:bold;display: inline-block;padding:8px 15px;font-size:80%;line-height:1;}

.page-block {
    border-radius: 16px;
    background: var(--green-transparent-01);
}

.faq {border-radius:16px;border:1px solid var(--c-neutral-300);}
.faq .in {border-radius:16px;background: var(--c-neutral-100);}
.faq .it {border-top:1px solid var(--c-neutral-300);}
.faq .it:first-child {border-top:none;}

.about-list .in {border-radius:16px;background: #fff;box-shadow: -4px 5px 19px 0 #00000014;}
